@define-color background #1a2028;

@define-color error #D94848;

@define-color error_container #E86060;

@define-color inverse_on_surface #1a2028;

@define-color inverse_primary #5080C0;

@define-color inverse_surface #b8c2cc;

@define-color on_background #b8c2cc;

@define-color on_error #e8ecf0;

@define-color on_error_container #D94848;

@define-color on_primary #0f1317;

@define-color on_primary_container #70A0D8;

@define-color on_primary_fixed #0f1317;

@define-color on_primary_fixed_variant #5080C0;

@define-color on_secondary #0f1317;

@define-color on_secondary_container #ffc97a;

@define-color on_secondary_fixed #0f1317;

@define-color on_secondary_fixed_variant #F8BA65;

@define-color on_surface #b8c2cc;

@define-color on_surface_variant #8a96a4;

@define-color on_tertiary #0f1317;

@define-color on_tertiary_container #f09090;

@define-color on_tertiary_fixed #0f1317;

@define-color on_tertiary_fixed_variant #EA7475;

@define-color outline #6b7888;

@define-color outline_variant #3d4a5c;

@define-color primary #5080C0;

@define-color primary_container #70A0D8;

@define-color primary_fixed #5080C0;

@define-color primary_fixed_dim #70A0D8;

@define-color scrim #000000;

@define-color secondary #F8BA65;

@define-color secondary_container #ffc97a;

@define-color secondary_fixed #F8BA65;

@define-color secondary_fixed_dim #ffc97a;

@define-color shadow #000000;

@define-color source_color #5080C0;

@define-color surface #1a2028;

@define-color surface_bright #3d4a5c;

@define-color surface_container #232a34;

@define-color surface_container_high #2c3542;

@define-color surface_container_highest #505c6c;

@define-color surface_container_low #151a20;

@define-color surface_container_lowest #0f1317;

@define-color surface_dim #1a2028;

@define-color surface_tint #5080C0;

@define-color surface_variant #232a34;

@define-color tertiary #EA7475;

@define-color tertiary_container #f09090;

@define-color tertiary_fixed #EA7475;

@define-color tertiary_fixed_dim #f09090;

@define-color success #52B5A4;

@define-color on_success #0f1317;

@define-color success_container #6ECFBE;

@define-color on_success_container #52B5A4;

@define-color info #A4D8EC;

@define-color on_info #0f1317;

@define-color warning #F8BA65;

@define-color on_warning #0f1317;

@define-color van #5080C0;

@define-color agnes #EA7475;

@define-color feri #F8BA65;

@define-color aaron #D94848;

@define-color risette #A4D8EC;

@define-color quatre #7F7B78;

@define-color judith #E07840;

@define-color bergard #A86078;

@define-color elaine #52B5A4;
